<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Grep/src/com/inv/hadoop/GrepDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.inv.hadoop.GrepDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-Dsword=wiki     -DCOLOR=AAAAA    /home/hadoop/YARNBOX/input/wiki.txt      /home/hadoop/YARNBOX/input/output/grepout1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Grep"/>
</launchConfiguration>
