<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WordCount/src/WordCountDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="WordCountDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-Dsearchword=hadoop -Dmapreduce.map.memory.mb=2048  -Dmapreduce.job.reduces=4        -Dmapreduce.output.fileoutputformat.compress=true    /home/hadoop/YARNBOX/input/wiki.txt   /home/hadoop/YARNBOX/input/grepout"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WordCount"/>
</launchConfiguration>
