<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MapSideJoins/src/com/inv/JoinDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.inv.JoinDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/hadoop/Desktop/Link to SET2/MapReduceCode/Joins-MapReduce/input/emp&quot;  &quot;/home/hadoop/Desktop/Link to SET2/MapReduceCode/Joins-MapReduce/input/MapSideJoin&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MapSideJoins"/>
</launchConfiguration>
