<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ElectricalQ1/src/MRDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MRDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/hadoop/Music/Classes/Assignments/Assignments/1_Electrical/electricalConsumption    /home/hadoop/Music/Classes/Assignments/Assignments/1_Electrical/Q1OutDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ElectricalQ1"/>
</launchConfiguration>
